.App {
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
   width: 600px;
  background-color: beige;
  min-height: 600px;
  border: 1px solid #cea3a3;
  border-radius: 5px;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 5px auto;
  justify-content: flex-start;
  align-items: center;
}
li{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 5px;
  min-height: 40px;
  align-items: center;
  font-size: 24px;
}
.checkbox{
  margin-right: 10px;
}
.checkbox:checked +span{
  text-decoration: line-through;
}
.close{
  color: red;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.7s;
}
.close:hover{
  transform: scale(1.5);
}
.add-input{
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
  padding-left: 5px;
  margin-top: 10px;
}
.add-input:active{
  border: 1px solid gray;
}
.add-btn{
  background-color: #43da43;
  border:1px solid gray;
  cursor: pointer;
  margin-left: 5px;
  height: 30px;
  border-radius: 4px;
}